<h2><%= post.attr('title') %></h2>
<p><%= post.attr('content') %></p>


<h3>Comments</h3>
<ul>
<% list(post.attr('comments'),function(comment){ %>
	<li <%= (el)->el.data('comment',comment) %> class="comment">
		<%= comment.attr('author') %>
		<%= comment.attr('content') %>
	</li>
<% }) %>
</ul>

<a href="#!posts">Back</a>
	

